
.container-principal{
  background: url(../imagen/fondo.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: .94
}
header{
  min-height: 200px;
  background: rgb(141, 252, 30)
}
.blanco{
  background: white;
}
.margenredes{
  margin-top: 13%;
  margin-bottom: 1%
}
.nav{
  min-height: 15%;
  background: rgb(190, 166, 38)
}
.comentario{
  border-radius: 3px;
}
.letra{
  font-size: 1.2vw;
}
.margenbio{
  margin-bottom: 2%;
  margin-top: 2%;
}
.tab1{
  border: 1px black solid;
}
.tab{
  border: 1px black solid;
  padding: 4%;
}
@media (max-width:720px) {
  #bio{
    color: blue;
    font-size: 2.8vw;
  }
  nav{
    text-align: center;
  }
}
